.section-container {
    background: #ffd765;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.section-container .fa.fa-times {
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 3rem;
    color: white;
    cursor: pointer;
}
.upload-form-container {
    background: #757cf9;
    padding: 0rem !important;
}
.upload-form-container div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.upload-form-container .image-view {
    padding: 2rem 0rem;
}
.upload-form-container .image-view p {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    margin: 0rem 0rem 2rem 0rem;
}
.upload-form-container .image-view .image-render .pick-image {
    width: 200px;
    height: 200px;
    border: 10px dashed rgba(255, 255, 255, .7);
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    transition: 0.3s all;
}
.upload-form-container .image-view .image-render .pick-image::before {
    content: 'Pick image';
    color: white;
    position: absolute;
    font-size: 1.5rem;
    opacity: 0;
    transition: 0.3s all;
    font-weight: bold;
}
.upload-form-container .image-view .image-render .pick-image::after {
    content: '+';
    font-size: 6rem;
    transition: 0.3s all;
    color: rgba(255, 255, 255, .4);
}
.upload-form-container .image-view .image-render .pick-image:hover {
    border: 10px dashed rgba(255, 255, 255, 1);
}
.upload-form-container .image-view .image-render .pick-image:hover::after {
    opacity: 0;
}
.upload-form-container .image-view .image-render .pick-image:hover::before {
    opacity: 1;
}
.upload-form-container .image-view .image-render img {
    width: 30%;
    display: none;
}
.upload-form-container .buttons-section {
    background: white;
    width: 100%;
    padding: 2rem 0rem;
}
.upload-form-container .buttons-section button {
    background: #ff7cac;
    color: white;
    border: none;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
}
.upload-form-container .buttons-section button:hover {
    background: #e56793;
}
