.ui{
    color:#639ff9;
}

.ui .slider{
    display:flex;
}

.ui .slider label{
    margin-top: 10px;
    margin-left: 9px;
    font-size:12px;
    overflow: hidden;
    white-space: nowrap;
}

input[type='range'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 1rem;
    background: rgba(0, 0, 0, 0.5);
    height: 1rem;
    width: 68%;
    margin-top:10px;
    margin-bottom: 10px;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 1rem;
	background: linear-gradient(to bottom right, #639ff9, #6452e9);
    height: 1.4rem;
    width: 1.4rem;
}
