* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;
}

body {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background: #eeeeec;
	align-items: center;
	flex-direction: column;
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
}

.bg {
	background: linear-gradient(-67deg,  #6452e9, #639ff9,  #c90a6d, #ff48a0);
	background-size: 400% 400%;
	animation: gradient 20s both infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.wrapper {
	width: 370px;
	height: 600px;
	background: #fdfeff;
	transition: background 0.6s ease;
	border-radius: 28px;
	padding: 20px 20px 20px 20px;
	box-shadow: 0 14px 40px rgba(0, 0, 0, 0.31);
}

.cpyright{
	display: inline;
	justify-content: center;
	align-items: center;
	color: steelblue;
	font-weight: 500;
	font-size: 10px;
	margin: 10px;
}

.cpyright a{
	transform: translateY(-10px);
}

@media only screen and (max-width: 600px) {
	.wrapper {
		width: 100%;
		height: 100%;
		background: #fdfeff;
		transition: background 0.6s ease;
		border-radius: 0px;
		padding: 20px 20px 20px 20px;
		box-shadow: none;
		
	}

	.bg{
		background: #31394d;
	}
}


.wrapper .top-icons i {
	color: #08091164;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

.wrapper .top-icons i:nth-of-type(1) {
	float: left;
}

.wrapper .top-icons i:nth-of-type(2) {
	float: right;
}

.wrapper .top-icons i:nth-of-type(3) {
	float: right;
	padding-right: 0.8em;
}

.wrapper .profile {
	margin-top: 2.2em;
	position: relative;
}

.wrapper .profile:after {
	width: 100%;
	height: 1px;
	content: ' ';
	display: block;
	margin-top: 1.3em;
	background: #e9eff6;
}

.wrapper .profile .check {
	position: absolute;
	right: 6.3em;
	bottom: 12.7em;
}

.wrapper .profile .null{
	opacity: 0;
}

.wrapper .profile .check i {
	position: relative;
	display: inline-block;
	margin-top: 20px;
	z-index: 2;
  }
  
  .wrapper .profile .check i[title]:hover::after {
	content: attr(title);
	position: absolute;
	left: 25px;
	color: #e9eff6;
	z-index: 1;
	animation: title 200ms linear 1 
  }
  @keyframes title{
	0%{
		opacity:0;
		z-index:1;
	}
	50%{
		opacity: 10%
	}

  }

.wrapper .profile .check #pink{
	color: #fff;
	width: 20px;
	height: 20px;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	border-radius: 100%;
	background: linear-gradient(to bottom right, #c90a6d, #ff48a0);
}

.wrapper .profile .check #blue{
	color: #fff;
	width: 20px;
	height: 20px;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	border-radius: 100%;
	background: linear-gradient(to bottom right,   #6452e9, #639ff9);
}

.wrapper .profile .pink {
	box-shadow: 600px -106px #c90a6d;
	border: #c90a6d solid 3px;
	width: 124px;
	height: 124px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
	border-radius: 100%;
	box-shadow: 0 13px 26px rgba(0, 0, 0, .2), 0 3px 6px rgba(0, 0, 0, .2);
}

.wrapper .profile .blue {
	box-shadow: 600px -106px steelblue;
	border: steelblue solid 3px;
	width: 124px;
	height: 124px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
	border-radius: 100%;
	box-shadow: 0 13px 26px rgba(0, 0, 0, .2), 0 3px 6px rgba(0, 0, 0, .2);
}


.wrapper .profile .name {
	color: #2d354a;
	font-size: 24px;
	font-weight: 600;
	text-align: center;
}

.wrapper .profile .male {
	color: steelblue;
	font-size: 0.75em;
	font-weight: 300;
	text-align: center;
	padding-top: 0.5em;
	padding-bottom: 0.7em;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}

.wrapper .profile .female {
	color: pink;
	font-size: 0.75em;
	font-weight: 300;
	text-align: center;
	padding-top: 0.5em;
	padding-bottom: 0.7em;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}

.wrapper .profile .description {
	color: #080911;
	font-size: 14px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 1.3em;
}

.wrapper .profile .btn {
	color: #fff;
	width: 130px;
	height: 42px;
	outline: none;
	border: none;
	display: block;
	cursor: pointer;
	font-weight: 300;
	margin-left: auto;
	margin-right: auto;
	border-radius: 70px;
	box-shadow: 0 13px 26px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .16);
	transition:5s;
}

.wrapper .profile .btn ::after{
	box-shadow: 5 13px 26px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .16);
}

.wrapper .profile #female{
	background: linear-gradient(to bottom right, #c90a6d, #ff48a0);
	transition: 1s;
}

.wrapper .profile #male{
	background: linear-gradient(to bottom right, #6452e9, #639ff9);
	transition: 1s;
}

.wrapper .social-icons {
	display: flex;
	margin-top: 1.2em;
	justify-content: space-between;
}

.wrapper .social-icons .icon {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.wrapper .social-icons .icon a {
	color: #fff;
	width: 60px;
	height: 60px;
	font-size: 28px;
	line-height: 60px;
	text-align: center;
	border-radius: 30px;
	box-shadow: 0 13px 26px rgba(0, 0, 0, .2), 0 3px 6px rgba(0, 0, 0, .2);
}

.wrapper .social-icons #blue:nth-of-type(1) a {
	background: linear-gradient(to bottom right, #5e5aec, #3f9efc);
}

.wrapper .social-icons #blue:nth-of-type(2) a {
	background: linear-gradient(to bottom right, #5e5aec, #3f9efc);
}

.wrapper .social-icons #blue:nth-of-type(3) a {
	background: linear-gradient(to bottom right, #6452e9, #639ff9);
}

.wrapper .social-icons #pink:nth-of-type(1) a {
	background: linear-gradient(to bottom right, #c90a6d, #3f9efc);
}

.wrapper .social-icons #pink:nth-of-type(2) a {
	background: linear-gradient(to bottom right, #c90a6d, #6452e9);
}

.wrapper .social-icons #pink:nth-of-type(3) a {
	background: linear-gradient(to bottom right, #c90a6d, #639ff9);
}


.wrapper .social-icons .icon h4 {
	color: #080911;
	font-size: 1em;
	margin-top: 1.3em;
	margin-bottom: 0.2em;
}

.wrapper .social-icons .icon p {
	color: #666b7d;
	font-size: 12px;
}


/************************************************************/
.customSlider {
	opacity: 0;
	display: none;
}

.customSlider+label {
	position: relative;
	top: 35px;
	left: 15px;
	cursor: pointer;
}

.customSlider+label:before,
.customSlider+label:after {
	background: #fff;
	position: absolute;
	content: '';
}

.customSlider+label:before {
	top: -90px;
	left: -60px;
	width: 80px;
	height: 40px;
	background: #ccc;
	border-radius: 20px;
	transition: background 0.75s;
}

.customSlider+label:after {
	height: 34px;
	width: 34px;
	top: -87px;
	left: -55px;
	border-radius: 50%;
	transition: all 0.5s;
}

.customSlider:checked+label:after {
	height: 34px;
	width: 34px;
	top: -87px;
	left: -19px;
	border-radius: 50%;
}

.customSlider:checked~.wrapper {
	color: #fff;
	transition: background 0.6s ease;
	background: #31394d;
}

.customSlider:checked~.wrapper .top-icons i {
	color: #fff;
}

.customSlider:checked~.wrapper .profile .name {
	color: #fdfeff;
}

.customSlider:checked~.wrapper .profile .title {
	color: #7c8097;
}

.customSlider:checked~.wrapper .profile .description {
	color: #fdfeff;
}

.customSlider:checked~.wrapper .icon h4 {
	color: #fff;
}

.customSlider:checked~.wrapper .icon p {
	color: #666b7d;
}

#left{
	float: right
}

/*****************************Sidenav*****************************/


.sidenav {
	display: none;
	height: 100%;
	width: 250px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgba(17, 17, 17, 0.43);
	overflow-x: hidden;
	padding-top: 60px;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(16px);
	text-align: center;
  }
  
  .sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 27px;
	font-weight: bold;
	color: #9e9e9e;
	display: block;
	margin: 10px
  }
  
  .sidenav #navbtn {
	background: transparent;
	border-radius: 10px 0 10px;
	animation: blink 7s linear infinite;
  }

  @keyframes blink {
	0%{
		box-shadow: 0px 0px 8px steelblue;
	}
	30%{
		box-shadow: 0px 0px 20px steelblue;
	}
	50%{
		box-shadow: 0px 0px 0px steelblue;
	}
	80%{
		box-shadow: 6px 0px 13px steelblue;
	}
	90%{
		box-shadow: 0px 15 5px 5px steelblue;
	}
	100%{
		box-shadow: 0px 0px 8px steelblue;
	}
  }

  .sidenav a:hover {
	color: #f1f1f1;
  }
  
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }