
.user-box {
    position: relative;
  }
  
.user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
.user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #639ff9;
    pointer-events: none;
    transition: .5s;
  }
  
  .user-box input:focus ~ label,
  .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #639ff9;
    font-size: 10px;
  }
  
  .btn {
    display: grid;
	place-items: center;
	color: #fff;
	width: 130px;
	height: 42px;
    text-align: center;
	outline: none;
	border: none;
	cursor: pointer;
	font-weight: 300;
	margin-left: auto;
	margin-right: auto;
	border-radius: 70px;
	box-shadow: 0 13px 26px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .16);
    background: linear-gradient(to bottom right, #6452e9, #639ff9);
	transition: 1s;
}

.btn ::after{
	box-shadow: 5 13px 26px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .16);
}

.check-box {
    color: #639ff9;
    font-weight: 300;
    margin: 20px;
}